body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  background-image: url("https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjY2LWtuLWQxLTAwMWNfMS5qcGc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

h1,
h2 {
  text-align: center;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
}

h2 {
  font-size: 50px;
  padding: 0px 200px;
}



ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 50px;
}


button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 32px;
}

button:hover {
  color: gold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1;

}


.content>div {
  width: 50%;
  height: 100%;

}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.content-left-menu {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.item-container {
  display: flex;
  flex-direction: row;
  gap: 200px;
  padding-left: 50px;
}

.item-price {
  display: flex;
  align-items: center;
}

.item-name-des {
  width: 400px;
}

footer {
  justify-content: center;
  margin: 20px 0px;
  text-align: center;
}

.pitch {
  padding: 8px;
  font-size: 24px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.introduction {
  text-align: center;
  font-size: 1.5rem;
}

.form-container {
  display: flex;
  padding-left: 200px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;


}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: solid 1px;
  border-color: white;
  height: 150px;
  background-color: white;
  border-radius: 3px;

}

img{
  height: 50px;
  width: 50px;
}

.contact-content{
  color: black;
}