body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  background-image: url("https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjY2LWtuLWQxLTAwMWNfMS5qcGc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;

}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

h1, h2 {
  text-align: center;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
}

h2{
font-size: 50px;
padding: 0px 200px;
}



ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 50px;
}


button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 32px;
}

button:hover {
  color: gold;
}

#content {
  display: flex;
  flex: 1;
}

#content>div {
  width: 50%;
  height: 100%;
  
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  justify-content: center;
  margin: 20px 0px;
  text-align: center;
}

.pitch {
  padding: 8px;
  font-size: 24px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}